@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
}

.contact-btn {
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
}

.text-alignment {
  text-align: center;
}

/* header */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-content {
  max-width: 580px;
  margin: 0 35px 0 230px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
}

.banner-pro-pic {
  width: 580px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-container {
  background-color: white;
  border: 1px solid black;
}
.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  color: #757575;
}

.item-description {
  font-weight: 600;
}

/* skills styles */
.skills {
  margin-top: 130px;
  margin-bottom: 130px;
}
.skills-container {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.skill-description {
  font-size: 16px;
  color: #757575;
  line-height: 30px;
}

/* resume section */
.resume {
  margin-bottom: 130px;
}
.resume-container {
  display: flex;
  gap: 24px;
}

.experience {
  margin-top: 30px;
  margin-bottom: 30px;
}

.experience-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(117, 117, 117);
}
.experience-description {
  color: rgb(117, 117, 117);
  margin: 0px;
}

.resume-column-title {
  color: rgb(71, 71, 71);
  font-size: 30px;
}

.experience-title {
  color: rgb(71, 71, 71);
  font-size: 25px;
}

.resume-download-cv {
  font-size: 50px;
}
